<h1> Login in </h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 m-4">
      <%= form_with(scope: :session, url:login_path) do |f| %>
        <div class="mb-3">
          <%= f.label :email, for:"exampleFormControlTextarea2", class:"form-label" %>
          <%= f.email_field :email, class:"form-control", id:"exampleFormControlTextarea2" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, for:"exampleFormControlTextarea1", class:"form-label" %>
          <%= f.password_field :password, class:"form-control", id:"exampleFormControlTextarea1" %>
        </div>
        <%= f.submit "Log in", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center return">
  <p>[ <%= link_to 'Return to articles', articles_path %> ]</p>
</div>