<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card shadow mb-5 bg-body rounded">
          <div class="card-header">
            <h3><%= @article.title %></h3>
          </div>
          <div class="card-body">
          <p class="card-text"><%= @article.description %></p>
          <%= link_to 'Show', article_path(@article), class:"btn btn-outline-secondary" %> 
          <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-outline-success" %> 
          <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger" %> 
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(@article.created_at) %> ago, by <%= @article.user.username if @article.user %></small>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="text-center return">
  <p>[ <%= link_to 'Return to articles', articles_path %> ]</p>
</div>
