<% if @user.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 m-4">
      <%= form_with(model: @user) do |f| %>
        <div class="mb-3">
          <%= f.label :username, for:"exampleFormControlInput1", class:"form-label" %>
          <%= f.text_field :username,  class:"form-control", id:"exampleFormControlInput1", placeholder:"Enter username" %>
        </div>
        <div class="mb-3">
          <%= f.label :email, for:"exampleFormControlTextarea2", class:"form-label" %>
          <%= f.email_field :email, class:"form-control", id:"exampleFormControlTextarea2" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, for:"exampleFormControlTextarea1", class:"form-label" %>
          <%= f.password_field :password, class:"form-control", id:"exampleFormControlTextarea1" %>
        </div>
        <%= f.submit(@user,new_record ? "Sing up" : "Update account"), class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center return">
  <p>[ <%= link_to 'Return to articles', articles_path %> ]</p>
</div>