<h1 class="text-center m-3">BookStreet Blogers</h1>

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <%= gravatar_for user, size: 100 %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= user.username %></h5>
            <p class="card-text">Has <%= pluralize(user.articles.count, 'article')%>. Joined <%= time_ago_in_words(user.created_at) %> ago.</p>
            <%= link_to 'View profile', user, class:"btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
