<h1 class="text-center m-4"><%= t("all_bloggers") %></h1>
<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

<div class="container">
  <div class="row">
    <% @users.reverse.each do |user| %>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card shadow p-2 mb-5 bg-white rounded">
          <div class="text-center">
            <%= image_tag "#{user.number.to_i}.png", alt:'icon', width:"200px" %>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title"><%= user.username %></h5>
            <p class="card-text"><%= t("has") %>: <%= user.articles.count %>. <%= t("joined") %> <%= time_ago_in_words(user.created_at) %> <%= t("ago") %>.</p>
            <%= link_to t("view_profile"), user, class:"btn button-w" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>
