<h2 class="text-center m-3"><%= @user.username %></h2>
<%= gravatar_for @user, size: 150 %>
<% if logged_in? && @user == current_user %>
  <%= link_to 'Edit profile', edit_user_path(@user), class:"text-center m-2" %>
<% end %>
  <h3 class="text-center m-3">
  <% if @user.articles.any? %>
    Articles</h3>
    <%= render 'articles/article' %>
  <% else %>
    Create your first article!</h3>
  <%= link_to "Create article", new_article_path, class:"text-center m-3" %>
<% end %>
