<div class="jumbotron">
  <h1 class="display-4"><%= t(".hello") %></h1>
  <p class="lead"><%= t(".welcome") %></p>
  <hr class="my-4">
  <p><i>"<%= t(".quote") %></i>"<br><%= t(".author") %></p>
  <p class="lead">
    <%= link_to t("login"), login_path, class:"btn btn-lg button", role:"button" %>
    <%= link_to t("signup"), signup_path, class:"btn btn-lg button", role:"button" %>
  </p>
</div>
