<h2 class="text-center mt-4"><%= t("navbar.categories") %></h2>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

<div class="container">
  <div class="row">
    <% @categories.reverse.each do |category| %>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card shadow p-2 mb-5 bg-white rounded">
          <div class="card-body">
            <h4 class="card-title"><%= link_to category.name, category_path(category) %></h4>
            <p class="card-text"><%= t("category_articles_count") %>: <%= category.articles.count %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="flickr_pagination mb-4">
  <%= will_paginate @categories, :container => false %>
</div>
