<% if @category.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading"><%= t("error") %></h4>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 m-4">
      <%= form_with(model: @category, local:true) do |f| %>
        <div class="mb-3">
          <%= f.label :name, for:"exampleFormControlInput1", class:"form-label" %>
          <%= f.text_field :name,  class:"form-control", id:"exampleFormControlInput1", placeholder:"name"%>
        </div>
        <%= f.submit t("done"), class:"btn button" %>
      <% end %>
    </div>
  </div>
</div>